<!DOCTYPE html>
<HEAD>
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width", "inital-scale=1">
  <style>table{ width: 100%; margin: 20px auto; table-layout: auto;}
  
  .fixed{table-layout: fixed;}
  table,td,th{border-collapse: collapse;}
  th, td {padding: 10px; border-bottom: 1px solid; text-align: center;}</style>
</HEAD>
<body>  
    <h1 align="center">Welcome to the Tracker Page of {{trackername}}- {{timeframe}}</h1>
   
    <table id="user-tracker" >
      <tr><th>Time</th>
      <th>Value</th>
      <th>Notes</th>
	 <th align="right">Actions</th></tr>
      {%for entry in enteries%}
      <tr>
        <div><td>{{entry["time"]}}</td></div>
        <div><td>{{entry["value"]}}</td></div>
        <div><td>{{entry["notes"]}}</td></div>
	  <div><td>
               <a href="/EditLog/{{entry["logid"]}}">Edit</a>&emsp;
               <a href="/DeleteLog/{{entry["logid"]}}">Delete</a></td></div>
      </tr>
      {%endfor%}
      </table>
  <img src="Graph.png">
    
<p><a href="/dashboard/{{user}}" type="button">Back to Dashboard</a></p>  
<p><a href="/user/{{user}}/logtracker/{{track}}" type="button">Create New Entry</a></p>

</body> 
</html>