<!DOCTYPE html>
<HEAD>
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width", "inital-scale=1">
    <title>New Numberic Log</title>
</HEAD>
<body>
  <form action= "/EditLog/{{log}}" method="post">
    <h1>log tracker: {{trackername}}</h1>
    <div><hr><label for = "time">When:</label> 
    <input type="text" id="time" name="time" value="{{tim}}" disabled></hr></div>
    <div><hr><label for = "Value">Value:</label> 
    <input type="number" id="Value" name="Value" value={{value}}></hr></div>
    <div><hr><label for = "Notes">Notes:</label> 
    <input type="text" id="Notes" name="Notes" value={{note}}></hr></div>
    <div>
    <hr><input type="submit" value="Log it"></hr>
    </div>
    <p><a href="/logpage/{{tracker_id}}" type="button">Back to logpage</a></p>
  </form>
</body>
  
</html>