<!DOCTYPE html>
<HEAD>
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width", "inital-scale=1">
    <title>New Boolean Log</title>
</HEAD>
<body>
  <form action= "/user/{{user}}/logtracker/{{track}}" method="post">
    <h1>log tracker: {{trackername}}</h1>
    <div><hr><label for = "time">When:</label> 
    <input type="text" id="time" value="{{t}}" disabled></hr></div>

        <div><hr><label for = "Value">True:</label> 
    <input type="radio" name="Value" id="Value" value=1>
    <div><hr><label for = "Value">False:</label> 
    <input type="radio" name="Value" id="Value" value=0></div>
    
    <div><hr><label for = "Notes">Notes:</label> 
    <input type="text" id="Notes" name="Notes"></hr></div>
    </div>
    <div>
    <hr><input type="submit" value="Log it"></hr>
    </div>
    
    <p><a href="/dashboard/{{user}}" type="button">Back to Dashboard</a></p>
  </form>
</body>
  
</html>