<!DOCTYPE html>
<HEAD>
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width", "inital-scale=1">
    <title>Login</title>
</HEAD>
<body>
  <form action= login method="post">
    <h1>Log-in Page</h1>
    <h3>Please login</h3>
    <hr><label for = "username">Enter your username:</label> 
    <input type="text" id="username" name="username" required></hr>
    <hr><label for = "password">Enter your password:</label> 
    <input type="text" id="password" name="password"></hr>

    <hr><input type="submit" value="login"></hr>
  </form>
</body>
  
</html>